*{
    margin: 0;
    padding: 0;
  }
  .container{
    display: flex;
    justify-content: center;
  }
  body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
  }
  .box1{
   
    height:80vh;
    width:30vw;
   padding-left: 5vw;
    
  }
  .box2{
    
  
    height: 90vh;
    width:30vw;
    padding-right: 17vw;
    
   
  }
  h1{
    margin-top: 5vh;
    text-align: center;
  }
  .transbox{
    background-color: #4d67ff;
    color: white;
    /* box-sizing: content-box; */
    height:50%;
    width:94%;
    margin:2.6em auto;
    /* opacity: 0.5; */
    box-shadow: rgb(38, 57, 77) 20px 20px 30px -10px;
    border-radius: 2em;
    margin-left: 0;
    padding: 35px 25px;
    font-size: 20px;
    display: flex;
    flex-direction: column;
  }
 
  .image2{
    
        height: 77vh;
        width: 49vw;
        position: relative;
        background-image: url(../IMAGES/jobsearch.avif);
        background-size: cover;
        bottom: -7vh;
        left: 3vw;
        
  }
 /* .transbox:hover{
    background-color: #040c36;
    color:white;
    transform: translateY(-2em);
  } */ 

  button{
    width: 60%;
    padding: 20px;
    background-color:rgb(255, 255, 255);
    border: none;
    color: hsl(0, 0%, 0%);
   
    border-radius: 6px;
  
    text-decoration: none;
    position: relative; 
   top:6vh;
    left:5vw;
  }
  .button a{
    text-decoration: none;
  }
  button:hover{
    transform: translateY(-5px);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
  }
 